* {
  font-family: "system-ui";
  margin: 0;
  padding: 0;
  font-weight: 500;
}

:root {
  /* --primary-color: #6f55f2; */
  --primary-color: #14b0a9;
  --heading-color: #132742;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

section {
  padding: 50px 0px;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

link {
  text-decoration: none;
  color: unset;
}

link:hover {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

.container {
  width: 1140px auto;
  padding: 0px 15px;
  margin: auto;
}

.section_title {
  color: var(--heading-color);
  font-weight: 700px;
}

.register-btn {
  background: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: var(--font-name);
  font-size: 1rem;
  font-weight: 700;
  outline: none;
  /* padding: 7px 15px; */
  padding: 15px 15px;
}

/* @media (max-width: 600px) { */
/*   .container { */
/*     height: 200px; */
/*   } */
/* } */
/**/
/* @media (min-width: 601px) and (max-width: 1200px) { */
/*   .container { */
/*     height: 300px; */
/*   } */
/* } */
/**/
/* @media (min-width: 1201px) { */
/*   .container { */
/*     height: 400px; */
/*   } */
/* } */
